.btn {
  display: inline-block;
  padding: 8px 16px;
  background: green;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transition: background 300ms ease;
}

.btn-blue {
  background: blue;
}

.btn-lg {
  padding: 16px 32px;
}

.btn:hover {
  background: rgba(29,29,29,1);
}
